= form_for @slide do |f|
  = render :partial => "layouts/error", :locals => {:error_message => f.error_messages}
  %p
    = f.label :page
    %br
    = collection_select(:slide, :page_id, Page.all, :id, :name, prompt: true)
    %p
    = f.label :header
    %br
    = f.text_field :header
  %p
    = f.label :quote
    %br
    = f.text_field :quote
  %p
    = f.label :author
    %br
    = f.text_field :author
  %p
    = f.label :author_title
    %br
    = f.text_field :author_title
  %p
    =f.label :image
    %br
    = image_tag @slide.image_url(:thumb) if @slide.image?
    %br
    =f.file_field :image
  %p
    = f.submit
