- title "Slides"
%h1 Slit-Slider Slides
%table
  %tr
    %th Page
    %th Header
    %th Quote
    %th Author
    %th Author title
    %th Image
  - for slide in @slides
    %tr
      %td= slide.page.name if slide.page
      %td= slide.header
      %td= slide.quote
      %td= slide.author
      %td= slide.author_title
      %td.image= image_tag slide.image_url(:tiny) if slide.image?
      %td= link_to 'Show', slide, :class => "primary-button"
      -if can? :edit, slide
        %td= link_to 'Edit', edit_slide_path(slide), :class => "info-button"
      -if can? :destroy, slide
        %td= link_to 'Destroy', slide, :confirm => 'Are you sure?', :method => :delete, :class => "danger-button"

-if can? :create, Slide
  %p= link_to "New Slide", new_slide_path, :class => "success-button"
