- title "Slide"

%h1= @slide.header

%p
  %strong Page:
  = @slide.page.name if @slide.page
%p
  %strong Header:
  = @slide.header
%p
  %strong Quote:
  = @slide.quote
%p
  %strong Author:
  = @slide.author
%p
  %strong Author Title:
  = @slide.author_title
%p
  %strong Image:
  %br
  = image_tag @slide.image_url(:thumb) if @slide.image?

%p
  = link_to "Edit", edit_slide_path(@slide)
  |
  = link_to "Destroy", @slide, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", slides_path
