= form_for @person do |f|
  = render :partial => "layouts/error", :locals => {:error_message => f.error_messages}
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :title
    %br
    = f.text_field :title  
  %p
    = f.label :bio
    %br
    = f.text_field :bio
  %p
    = f.label :schools
    %br
    = collection_select(:person, :school_ids, School.find(:all, :order => "name ASC"), :id, :name, {prompt: true}, {:multiple => true})
  %p
    = f.label :linkedin, "Linkedin URL"
    %br
    = f.text_field :linkedin
  %p
    = f.label :email, "Email Address"
    %br
    = f.text_field :email  
  %p
    = f.label :phone
    %br
    = f.text_field :phone
  %p
    = f.label :twitter_handle, "Twitter Handle"
    %br
    = f.text_field :twitter_handle
  %p
    = f.label :github, "Github URL"
    %br
    = f.text_field :github
  %p
    = f.submit
