- title "People"

%h1 People
%table
  %tr
    %th Photo
    %th First name
    %th Last name
    %th Bio
    %th Alma mater
    %th Linkedin
    %th Email
  - for person in @people
    %tr
      %td= image_tag person.gravatar_url(:size => 48)
      %td= person.first_name
      %td= person.last_name
      %td= person.bio
      %td= person.alma_mater
      %td= person.linkedin
      %td= person.email
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Person", new_person_path
