- title "People"

%h1 People
%table
  %tr
    %th Photo
    %th First name
    %th Last name
    %th Title
    %th Email
  - for person in @people
    %tr
      %td= person.portrait? ? image_tag(person.portrait_url(:tiny)) : "None"
      %td= person.first_name
      %td= person.last_name
      %td= person.title
      %td= person.email
      %td= link_to 'Show', person, :class => "primary-button"
      %td= link_to 'Edit', edit_person_path(person), :class => "info-button"
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete, :class => "danger-button"

%p= link_to "New Person", new_person_path
