- title "Person"

%h1 
  = @person.first_name
  = " "
  = @person.last_name
%p
  %strong Portrait:
  .preview-img
    = image_tag @person.portrait_url(:thumb) if @person.portrait?
    #{"None" if !@person.portrait?}
%p
  %strong Gravatar:
  %p
  = image_tag @person.gravatar_url(size: 128, default: 'wavatar')
%p
  %strong First Name:
  = @person.first_name
%p
  %strong Last Name:
  = @person.last_name
%p
  %strong Bio:
  = @person.bio
%p
  %strong Schools:
  %ul
  - for school in @person.schools
    %li= school.name
%p
  %strong Linkedin:
  = @person.linkedin
%p
  %strong Phone:
  = @person.phone
%p
  %strong Twitter URL:
  = @person.twitter
%p
  %strong Github:
  = @person.github
%p
  %strong Email:
  = @person.email

%p
  = link_to "Edit", edit_person_path(@person), :class => "info-button"
  = link_to "Destroy", @person, :confirm => 'Are you sure?', :method => :delete, :class => "danger-button"
  = link_to "View All", people_path, :class => "primary-button"
