- title "Person"

%h1 
  = @person.first_name
  = " "
  = @person.last_name
%p
  %strong First Name:
  = @person.first_name
%p
  %strong Last Name:
  = @person.last_name
%p
  %strong Bio:
  = @person.bio
%p
  %strong Alma Mater:
  = @person.alma_mater
%p
  %strong Linkedin:
  = @person.linkedin
%p
  %strong Email:
  = @person.email

%p
  = link_to "Edit", edit_person_path(@person)
  |
  = link_to "Destroy", @person, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", people_path
