= form_for @page do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :display_order
    %br
    Please make sure this does not conflict with other pages. 
    %br
    = f.text_field :display_order
  %p
    = f.label :display_name
    %br
    = f.text_field :display_name
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.submit "Save", :class => "success-button"
