-title "About Us | OnPrem"

= render "pages/slit-slider-sweet"

.main
  %h1 About Us
  %h3.sub-header Who We Are
  #about-us

    OnPrem is a Southern California consulting and technology innovation startup. Founded in 2013 by four consulting industry leaders, we work with some of the most innovative companies in the world including major studios, large broadcasters and leading technology companies. OnPrem's focus on top talent, company culture and creating the next generation consulting firm make it an exciting place to work for anyone with an entrepreneurial mindset.

    We differentiate ourselves by being experts in our fields. We are relentlessly good at what we do, will always put our clients first, and we only hire passionate, forward thinking, intelligent, and personable people.


  %h1 Partners
  %h3.sub-header Our Founders
  %h3 
    Collectively, our founders boast over 80 years of consulting experience in Media & Entertainment.  Meet our visionary leaders below. 
  .partners

    .partner
      .partner-image
        = image_tag("jon_pic.png")

      %h2 Jon Christian
      %p 
        Jon has over 15 years of consulting experience across industries with a focus on Media and Entertainment. He successfully built and led an industry leading Digital Asset Management practice at his former company and was the visionary behind the release of an enterprise Business Process as a Service DAM platform focused on marketing content. Jon joined the OnPrem partnership with the intent of providing the highest degree of talent, quality, and service for the most innovating challenges and opportunities. Jon graduated with a BS in Engineering from The University of Southern California. Jon is the proud father of 3 (with the recent arrival of twins in March of 2013) and cherishes the day when he will be able to sleep again.

    .partner
      .partner-image
        = image_tag("frank_pic.png")

      %h2 Frank Leal
      %p 
        Frank has over 25 years experience consulting within the Media and Entertainment industry. He built a successful consulting company, Strategic Vision Consulting, with a reputation for acquiring and developing the very best talent in the industry. Frank joined the OnPrem partnership with the intent of creating a talent rich and talent friendly organization providing the highest level of customer service. He is a believer in the mantra "Talent Wins." Frank graduated with a bachelor's degree from Princeton University. He is the proud father of two little girls and is a college football junkie.

  .partners

    .partner
      .partner-image
        = image_tag("candice_pic.png")

      %h2 Candice Lu
      %p 
        Candice has worked in the media and entertainment industry for nearly 20 years, 15 of which have been dedicated to management and IT consulting. She most recently led a strategy and operations consulting practice, focusing on building effective processes and organizations across M&E. She is extremely passionate about surrounding herself with creative, intelligent, and sarcastic people, her husband and two children included. She has a B.A. in Economics from UCLA, and an MBA from USC in Strategy and Entertainment. She has absolutely no guilt in her loyalty to the Bruins.

    .partner
      .partner-image
        = image_tag("christophe_pic.png")

      %h2 Christophe Ponsart
      %p 
        Christophe has a passion for innovation, product design and building startups. He brings 13+ years of strategic guidance and enterprise technology implementations for the world's most cutting-edge Media & Entertainment and Technology companies. Christophe's experiences provide him with unique strengths in Technology, User Interface Design, Marketing and Leadership, all leveraged to create great products. He graduated with a BS in Engineering from Colorado School of Mines and now lives in Los Angeles with his beautiful wife and 3 kids (all under the age of 5). Outside of late-night code sessions, Christophe enjoys mud-runs, triathlons and outdoor activities with the family. 
  %h1 Culture
  %h3.sub-header Unlike Any Other
  %p
    From day one, the OnPrem Partners made a commitment to create and maintain a truly unique company culture. Our culture reflects our values of transparency, collaboration, meritocracy, and exhibiting a passion for everything we do. 
  .culture
    .culture-item
      %h2 Transparency.
      %p
        OnPrem welcomes participation and open feedback from all team members.  We recognize the importance of an informed and involved team.
    .culture-item
      %h2 Meritocracy. 
      %p
        If you're a proven performer, then you'll be on the fast track to that next level and beyond.
    .clearfix.visible-sm
    .culture-item
      %h2 Collaboration. 
      %p
        Our culture fosters a sense of community and collaboration. All of our team members are willing to lend an extra hand wherever and whenever needed. 
    .culture-item
      %h2 Passion. 
      %p
        We love having an impact on some of the most innovative companies in Media & Entertainment, and there's no other industry in which we'd rather work.