-title "OnPrem Solution Partners"

= render "pages/slit-slider-sweet"

.main
  %h1 Welcome to OnPrem.
  %h3.sub-header Here's what we offer:
  %p 
    %span.strong Best Service:
    We provide world-class service in business strategy and technology consulting services, with development services soon to come.
  %p
    %span.strong Best Clients:
    We work with the biggest names in Media & Entertainment.
  %p 
    %span.strong Best People:
    We hire only the best and most passionate talent in the market.
  %h3#sneak-peek
    True to our commitment to constant innovation, here's a sneak peek at the plans for our new 
    =link_to "Innovation and Development Center", "pages#idc"
    in Austin, TX:

  
  .video-container
    %iframe{allowfullscreen: "", frameborder: "0", height: "480", width: "853", src: "//www.youtube-nocookie.com/embed/rId6PKlDXeU?rel=0&amp;autohide=1&showinfo=0&fs=0"}
  .spacer
  .circle-links
    -for page in @pages
      .circle-link-box
        %a.transition{href:"/#{page.name}"}
          .circle-link{style: "background: url(#{page.slides.order("display_order").first.image_url(:thumb) if !page.slides.empty?})"}   
            .circle-link-label
              %h2= page.display_name
          .circle-link-desc
            %p= page.description