%title OnPrem Solution Partners

= render "pages/slit-slider-sweet"

.main
  %h1 About Us
  #about-us

    OnPrem is a Southern California consulting and technology innovation startup.

    Founded in 2013 by four consulting industry leaders, we work with some of the most innovative companies in the world including major studios, large broadcasters and leading technology companies.

    OnPrem's focus on top talent, company culture and creating the next generation consulting firm make it an exciting place to work for anyone with an entrepreneurial mindset.

  %h1 Offerings
  / .call-to-action
  /   %button.continue Button
  #offerings

    .offering
      .offering-header
        .offering-icon
          = image_tag("glasses.png")

        .offering-title
          %h2
            Business
            %br
            Consulting
          
      .offering-body
        %p
          OnPrem is a talent-driven firm. Our focus on high-quality talent with deep industry knowledge will shine through and help make you successful.
      
      .offering-detail
        %ul
          %li
            Business Strategy Definition
          %li
            Organizational Optimization
          %li
            Business Process Improvement
          %li
            Organizational Change Management

    .offering
      .offering-header
        .offering-icon
          = image_tag("leader.png")

        .offering-title
          %h2 
            Technology 
            %br
            Leadership
            
      .offering-body
        %p 
          We have been advising CIOs and CTOs across a number of industries for decades.  We're passionate about helping you make the right technology decision.

      .offering-detail
        %ul
          %li 
            Business Alignment and Technology Strategy Development
          %li
            Roadmap Development
          %li
            IT Process Optimization
          %li
            IT Budget and Planning Support
          %li
            Outsourcing Deal Assessments and Optimization

    .offering
      .offering-header
        .offering-icon
          = image_tag("server.png")
          / %i.fa-camera-retro

        .offering-title
          %h2 
            Technology 
            %br
            Delivery
          
      .offering-body
        %p
          We have extensive experience delivering technology projects and are able to execute entire projects or serve as oversight for projects performed by ther entities.

      .offering-detail
        %ul
          %li
            Project Definition, Scoping, Blueprinting, and Planning ("Phase 0")
          %li
            Solution evaluation, Selection and Procurement
          %ul
            %li
              Requirements Definition
            %li
              RFP Creation
            %li
              Vendor Shortlisting
            %li
              Vendor Demonstrations and PoCs
            %li
              Vendor Evaluation and Selection
            %li
              TCO Analysis
            %li
              Contract Negotiation and Procurement
            %li
              Implementation Planning
            %li
              PMO Setup
          %li 
            Technology Project Delivery
          %ul
            %li
              Custom Development via Agile or Waterfall Methodologies
            %li
              Package Implementation and Extension
            %li
              Functional Delivery Support
            %li
              Change Management Services
            %li
              PMO Services
            %li
              Methodology Training and Implementation

    .offering
      .offering-header
        .offering-icon
          = image_tag("rocket.png")

        .offering-title
          %h2 
            Innovative 
            %br
            Technologies

      .offering-body
        %p
          Our goal is to provide our partners with talent that exceeds the marketplace.  We focus on those business activities and technologies that are critical to your business.

      .offering-detail
        %ul
          %li
            Digital Supply Chain
          %ul
            %li
              DAM, MDM, Search, Transcode, Content Protection, Distribution, Analytics, etc.
          %li
            Digital Rights Management
          %li
            Social Media and Use of Social Data
          %li
            Actionable Data Analytics
          %ul
            %li
              Differentiating between meaningful data and noise
            %li
              Defining data-determined and data-influenced decisions
          %li
            Mobility

  %h1 Partners
  .partners

    .partner
      .partner-image
        = image_tag("jon_pic.png")

      %h2 Jon Christian
      %p 
        Jon has over 15 years of consulting experience across industries with a focus on Media and Entertainment. He successfully built and led an industry leading Digital Asset Management practice at his former company and was the visionary behind the release of an enterprise Business Process as a Service DAM platform focused on marketing content. Jon joined the OnPrem partnership with the intent of providing the highest degree of talent, quality, and service for the most innovating challenges and opportunities. Jon graduated with a BS in Engineering from The University of Southern California. Jon is the proud father of 3 (with the recent arrival of twins in March of 2013) and cherishes the day when he will be able to sleep again.

    .partner
      .partner-image
        = image_tag("frank_pic.png")

      %h2 Frank Leal
      %p 
        Frank has over 25 years experience consulting within the Media and Entertainment industry. He built a successful consulting company, Strategic Vision Consulting, with a reputation for acquiring and developing the very best talent in the industry. Frank joined the OnPrem partnership with the intent of creating a talent rich and talent friendly organization providing the highest level of customer service. He is a believer in the mantra "Talent Wins." Frank graduated with a bachelor's degree from Princeton University. He is the proud father of two little girls and is a college football junkie.

  .partners

    .partner
      .partner-image
        = image_tag("candice_pic.png")

      %h2 Candice Lu
      %p 
        Candice has worked in the media and entertainment industry for nearly 20 years, 15 of which have been dedicated to management and IT consulting. She most recently led a strategy and operations consulting practice, focusing on building effective processes and organizations across M&E. She is extremely passionate about surrounding herself with creative, intelligent, and sarcastic people, her husband and two children included. She has a B.A. in Economics from UCLA, and an MBA from USC in Strategy and Entertainment. She has absolutely no guilt in her loyalty to the Bruins.

    .partner
      .partner-image
        = image_tag("christophe_pic.png")

      %h2 Christophe Ponsart
      %p 
        Christophe has a passion for innovation, product design and building startups. He brings 13+ years of strategic guidance and enterprise technology implementations for the world's most cutting-edge Media & Entertainment and Technology companies. Christophe's experiences provide him with unique strengths in Technology, User Interface Design, Marketing and Leadership, all leveraged to create great products. He graduated with a BS in Engineering from Colorado School of Mines and now lives in Los Angeles with his beautiful wife and 3 kids (all under the age of 5). Outside of late-night code sessions, Christophe enjoys mud-runs, triathlons and outdoor activities with the family.

  %h1 Contact Us
  #contact-us

    .contact-info

      .jobs
        %h2 Jobs
        %p 
          We are looking for talented, innovative individuals too join our fast-growing practice.  If you are passionate about consulting, strategy or development in Los Angeles, email us and see what you're missing.
        %p
          =link_to "Take a Closer Look", "/careers"

    .contact-info

      .opportunities
        %h2 Opportunities
        %p
          We are excited about new opportunities and pride ourselves in building long-term relationships. Our breadth of project experience, passion about technology and focus on talent and culture result in a successful and collaborative partnership with our clients.
        %p
          email: opportunity@onprem.com