- title "Pages"

.main
  .top-spacer
  %h1 Pages
  %table
    %tr
      %th Name
      %th Display name
      %th Description
    - for page in @pages
      %tr
        %td= page.name
        %td= page.display_name
        %td= page.description
        %td= link_to 'Show', page, :class => "primary-button"
        %td= link_to 'Edit', edit_page_path(page), :class => "info-button"
        %td= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete, :class => "danger-button"

  %p= link_to "New Page", new_page_path, :class => "success-button"
