-title "Our Offerings | OnPrem"

= render "pages/slit-slider-sweet"
/ ".anything" means this is an HTML CLASS. THis is a label for HTML.  Any HTML element can have a class.

= javascript_include_tag "custom.js"

.main
  %h1 Offerings
  %h3.sub-header What We Do
  #offerings-full

    .offering
      .offering-header
        .offering-icon
          = image_tag("Strategy - Chess.jpg")

        .offering-title
          %h2 
            Strategy
          
      .offering-body
        %p
          A thriving tomorrow starts with a clear strategy today. We are a talent-driven firm with deep industry knowledge and the experience to understand industry challenges and trends to lead your organization into the best-in-class category.
      
      .offering-detail
        %ul
          %li
            Business Strategy & Mission/Vision Development
          %li
            Departmental Roles and Responsibilities Definition and Goal Setting
          %li
            Activity Prioritization and Roadmap Development

    .offering
      .offering-header
        .offering-icon
          = image_tag("tech_leadership.png")

        .offering-title
          %h2 
            Technology Leadership
            
      .offering-body
        %p 
          Business and technology are inextricably interlinked in today’s fast-paced  environment  We are passionate about helping you make the right technology decisions that also optimally align with your business.  Our team has extensive experience with IT outsourcing and optimizing to ensure that the very best output is delivered. 

      .offering-detail
        %ul
          %li 
            Business and Technology Alignment
          %li
            Technology Strategy Development
          %li
            IT Process Optimization
          %li
            IT Budget and Planning Support
          %li
            Outsourcing Deal Assessments and Optimization
          %li
            Technology Implementation Planning
          %li
            Methodology Training and Implementation (e.g. Agile coaching)

    .offering
      .offering-header
        .offering-icon
          = image_tag("processimprovement.jpg")

        .offering-title
          %h2 
            Process Improvement
          
      .offering-body
        %p
          Let us optimize your organization by leveraging best practices and industry expertise. We help to identify your key business challenges and fundamentally redesign them to maximize productivity and ROI. 
      
      .offering-detail
        %ul
          %li
            Lean Business Process Improvement
          %li
            Organization Design
          %li
            Change Management
          %li
            Project Change Management

    .offering
      .offering-header
        .offering-icon
          = image_tag("tech_delivery.jpg")

        .offering-title
          %h2 
            Technology System Delivery
          
      .offering-body
        %p
          Managing a complex project from ideation through to delivery can be difficult!  Our team has extensive experience delivering complex technology projects through a risk management focused methodology.  Our focus on effectively managing scope, risk, user expectations, and investment helps us to successfully execute projects and/or oversee projects performed by other entities.

      .offering-detail
        %ul
          %li
            Project Definition, Scoping, Blueprinting, and Planning
          %li
            Solution Requirements, Evaluation, Selection and Procurement
          %li
            ROI / TCO Analysis
          %li
            Technology Contract Negotiation and Procurement
          %li
            Iterative Delivery Methodology utilizing the Agile philosophy 
          %li
            Custom Systems Integration and Development Services
          %li
            Technology Package Implementation and Extension
          %li
            PMO / Project Governance

    .offering
      .offering-header
        .offering-icon
          = image_tag("Innovation.jpg")

        .offering-title
          %h2 
            Innovation

      .offering-body
        %p
          When it comes to the latest technologies, our team is focused on what’s critical to your business. Our talent has experience with the end-to-end Digital Project Lifecycle from the earliest conceptual stage to the fully functional platform.  And on top of that, we just love to think outside the box!

      .offering-detail
        %ul
          %li
            End-to-end Digital Supply Chain (e.g. Content Protection, DAM, Distribution, MDM)
          %li
            Digital Rights Management
          %li
            Social Media and Use of Social Data
          %li
            Intelligent Data Analytics
          %li
            Mobility
