-title "Our Offerings | OnPrem"

= render "pages/slit-slider-sweet"
/ ".anything" means this is an HTML CLASS. THis is a label for HTML.  Any HTML element can have a class.
.main
  %h1 Offerings
  %h3.sub-header What We Do
  #offerings-full

    .offering
      .offering-header
        .offering-icon
          = image_tag("glasses.png")

        .offering-title
          %h2 
            Business 
            %br
            Consulting
          
      .offering-body
        %p
          OnPrem is a talent-driven firm and our focus is on high-quality talent with deep industry knowledge and experience. Leveraging best practices from within and outside your industry, we will help lead your organization into the best-in-class category. We provide a comprehensive set of business consulting services.
      
      .offering-detail
        %ul
          %li
            Business Strategy Definition
          %li
            Organizational Optimization
          %li
            Business Process Improvement
          %li
            Organizational Change Management

    .offering
      .offering-header
        .offering-icon
          = image_tag("leader.png")

        .offering-title
          %h2 
            Technology 
            %br
            Leadership
            
      .offering-body
        %p 
          Our founders have been advising CIOs and CTOs across a number of industries for decades. We're passionate about helping you make the right technology decision. This group of service offerings focuses on advising technology leaders in their attempt to optimally align with business and effectively invest in technology. Our consultants have extensive experience with IT outsourcing and optimizing to ensure the very best output is delivered.

      .offering-detail
        %ul
          %li 
            Business Alignment and Technology Strategy Development
          %li
            Roadmap Development
          %li
            IT Process Optimization
          %li
            IT Budget and Planning Support
          %li
            Outsourcing Deal Assessments and Optimization

    .offering
      .offering-header
        .offering-icon
          = image_tag("server.png")
          / %i.fa-camera-retro

        .offering-title
          %h2 
            Technology 
            %br
            Delivery
          
      .offering-body
        %p
          We have extensive experience delivering complex technology projects and are able to execute entire projects or oversee projects performed by other entities. We deliver technology projects through a risk management focused methodology. We focus on effectively managing scope, risk, user expectations, and investment.
      .offering-detail
        %ul
          %li
            Project Definition, Scoping, Blueprinting, and Planning ("Phase 0")
          %li
            Solution Evaluation, Selection and Procurement
          %ul
            %li
              Requirements Definition
            %li
              RFP Creation
            %li
              Vendor Shortlisting
            %li
              Vendor Demonstrations and PoCs
            %li
              Vendor Evaluation and Selection
            %li
              TCO Analysis
            %li
              Contract Negotiation and Procurement
            %li
              Implementation Planning
            %li
              PMO Setup
          %li 
            Technology Project Delivery
          %ul
            %li
              Custom Development via Agile or Waterfall Methodologies
            %li
              Package Implementation and Extension
            %li
              Functional Delivery Support
            %li
              Change Management Services
            %li
              PMO Services
            %li
              Methodology Training and Implementation

    .offering
      .offering-header
        .offering-icon
          = image_tag("rocket.png")

        .offering-title
          %h2 
            Innovative 
            %br
            Technologies

      .offering-body
        %p
          Our goal is to provide our clients with talent that exceeds the marketplace.  We focus on those business activities and technologies that are critical to your business. Our talent has experience with the end-to-end Digital Project Lifecycle from the earliest conceptual stage to the fully functional platform.

      .offering-detail
        %ul
          %li
            Digital Supply Chain
          %ul
            %li
              DAM, MDM, Search, Transcode, Content Protection, Distribution, Analytics, etc.
          %li
            Digital Rights Management
          %li
            Social Media and Use of Social Data
          %li
            Actionable Data Analytics
          %ul
            %li
              Differentiating between meaningful data and noise
            %li
              Defining data-determined and data-influenced decisions
          %li
            Mobility