%title Our Team | OnPrem

.main
  %h1
    Team
  %p.description
    The hard-hitting experts who are changing the face of entertainment.
  .combo-filters#options
    %p.filter-label
      Filter by School:
    %ul.filter.option-set{:data => {:filter_group => "school"}}
      %li
        %a.selected{:href => "#filter-school-any", :data => {:filter_value => ""}}
          Show All
      - for school in @schools
        %li
          %a{href: "#filter-school-#{school.name.downcase}", data: {:filter_value => ".#{school.name.downcase}"}}
            = school.name
  .person-container
    -for person in @people
      .person{:class => "#{person.schools.map {|school| school.name.downcase }.join(" ") if !person.schools.empty?}"}
        .person-image
          = image_tag person.gravatar_url(size: 160, default: 'wavatar')
          .person-info
            .person-name
              = "#{person.first_name} #{person.last_name}"
            .person-title
              = person.title
            .icons
              - if !person.linkedin.empty?
                %a{:title => "#{person.first_name}'s linkedin", :href => person.linkedin}
                  %span.icon
                    %i.square-bg
                    %i.linkedin
              -if !person.twitter.empty?
                %a{:title => "#{person.first_name}'s twitter", :href => person.twitter}
                  %span.icon
                    %i.square-bg
                    %i.twitter
              -if !person.email.empty?
                %a{:title => "#{person.first_name}'s email", :href => "mailto:#{person.email}"}
                  %span.icon
                    %i.square-bg
                    %i.email
              -if !person.github.empty?
                %a{:title => "#{person.first_name}'s github", :href => person.github}
                  %span.icon
                    %i.square-bg
                    %i.github


        / .project-client
        /   = image_tag project.logo_url(:thumb) if project.logo?