-title "Our Team | OnPrem"

= render "pages/slit-slider-sweet"

= javascript_include_tag "team.js"

.main
  %h1 Our Team
  %h3.sub-header What We're Made Of
  .description
  %p
    At OnPrem, we only hire the best and the brightest, and who we consider to be the next industry leaders. But intelligence only accounts for so much - driven and engaging personalities are also required. Each of us has a unique background and experiences that enables all of us to learn from each other and collectively elevate our level of work. We are a group of self-starters who continually challenge ourselves to grow through our personal and professional goals. One common bond that we all share is our passion for Media & Entertainment. While we are serious about our work, we also know how to have fun. 
  %p
    Get to know our talented team members below - the hard-hitting experts who are changing the face of Media & Entertainment.
  .combo-filters
    %p.filter-label
      Filter by Title:
    .filter.option-set{:data => {:filter_group => "title"}}
      %a.selected{:href => "#filter-title-any", :data => {:filter_value => ""}}
        Show All
      - for title in @titles
        %a{href: "#filter-title-#{title.parameterize}", data: {:filter_value => ".#{title.parameterize}"}}
          = title
    %p.filter-label
      Filter by Alma Mater:
    .filter.option-set{:data => {:filter_group => "school"}}
      %a.selected{:href => "#filter-title-any", :data => {:filter_value => ""}}
        Show All
      - for school in @schools
        %a{href: "#filter-school-#{school.name.parameterize}", data: {:filter_value => ".#{school.name.parameterize}"}}
          = school.name
  .person-container
    -for person in @people
      .person{:class => person.filter_tags}
        .person-image
          = person.portrait? ? image_tag(person.portrait_url(:thumb)) : image_tag(person.gravatar_url(size: 140, default: 'wavatar'))
          .person-info
            .person-name
              = "#{person.first_name} #{person.last_name}"
            .person-title
              = person.title
            .icons
              - if person.linkedin && !person.linkedin.empty?
                %a{:title => "#{person.first_name}'s Linkedin", :href => person.linkedin, :target => "_blank"}
                  %span.icon
                    %i.square-bg
                    %i.linkedin
              -if person.twitter && !person.twitter.empty?
                %a{:title => "#{person.first_name}'s Twitter", :href => person.twitter, :target => "_blank"}
                  %span.icon
                    %i.square-bg
                    %i.twitter
              / -if person.email && !person.email.empty?
              /   %a{:title => "#{person.first_name}'s Email", :href => "mailto:#{person.email}"}
              /     %span.icon
              /       %i.square-bg
              /       %i.email
              -if person.github && !person.github.empty?
                %a{:title => "#{person.first_name}'s Github", :href => person.github, :target => "_blank"}
                  %span.icon
                    %i.square-bg
                    %i.github