%title Our Work | OnPrem
.main
  %h1
    Project Work
  .combo-filters
    %p.filter-label
      Filter by Industry:
    .filter.option-set{:data => {:filter_group => "industry"}}
      %a.selected{:href => "#filter-industry-any", :data => {:filter_value => ""}}
        Show All
      - for industry in @industries
        %a{href: "#filter-industry-#{industry.name.parameterize}", data: {:filter_value => ".#{industry.name.parameterize}"}}
          = industry.name
  .project-container
    -for project in @projects
      .project{:class => "#{project.industry.name.parameterize if project.industry}"}
        .project-image
          = image_tag project.image_url(:thumb) if project.image?
          .project-title
            = project.title
        .project-client
          = image_tag project.logo_url(:thumb) if project.logo?