-title "Our Work | OnPrem"

= render "pages/slit-slider-sweet"

= javascript_include_tag "work.js"
= javascript_include_tag "custom.js"

.main
  %h1 Project Work
  %h3.sub-header What We've Done
  %p.description
    With nearly a dozen clients in our first year alone, our work speaks for itself. We count major studios and broadcasters among our clientele, and work with them to build and implement the strategies and technologies of the future. We have experience in everything from Piracy Intelligence to Digital Supply Chain to Music Royalties to Master Data Management. We're also firm believersc in the Agile philosphy and often apply the Scrum framework to our projects - in fact, the majority of our staff are Certified ScrumMasters.
  %p
    To provide the utmost in customer service, frequent collaboration and communication with our clients is a top priority, as we recognize the value in building relationships based on inherent trust and transparency. Our clients' needs always come first. We're proud to work with the leading brands in Media & Entertainment. 
    /insert client company logos
  %p
    To learn more about some of the innovative projects we're leading, click through the images below:
  .combo-filters
    %p.filter-label
      Filter by Industry:
    .filter.option-set{:data => {:filter_group => "industry"}}
      %a.selected{:href => "#filter-industry-any", :data => {:filter_value => ""}}
        Show All
      - for industry in @industries
        %a{href: "#filter-industry-#{industry.name.parameterize}", data: {:filter_value => ".#{industry.name.parameterize}"}}
          = industry.name
  .project-container
    -for project in @projects
      .project{:class => "#{project.industry.name.parameterize if project.industry}", :data => {:toggle => "modal", :target => "##{project.id}"}}
        .project-image
          = image_tag project.image_url(:thumb) if project.image?
          .project-description
            = project.description
        .project-info
          /   = image_tag project.logo_url(:thumb) if project.logo?
          %h2= project.title
        .project-title
-for project in @projects
  .modal.fade{:id => "#{project.id}", :tabindex => "-1", :aria_labelledby => "#{project.id}"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:data => {dismiss:"modal"}, :aria_hidden => "true", :type => "button"} &times;
          %h2.modal-title= project.title
        .modal-body= project.description
        .modal-footer
          %button.btn.close{data:{dismiss:"modal"}} Close
