= form_for @project, :html => {:multipart => true} do |f|
  = render :partial => "layouts/error", :locals => {:error_message => f.error_messages}
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :client
    %br
    = f.text_field :client
  %p
    = f.label :caption
    %br
    = f.text_field :caption
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :industry
    %br
    = collection_select(:project, :industry_id, Industry.all, :id, :name, prompt: true)
  %p
    =f.label :image
    %br
    = image_tag @project.image_url(:thumb) if @project.image?
    %br
    =f.file_field :image
  %p
    =f.label :remote_image_url, "or image URL:"
    %br
    =f.text_field :remote_image_url
  %p
    =f.label :logo
    %br
    = image_tag @project.logo_url(:thumb) if @project.logo?
    %br
    =f.file_field :logo
  %p
    = f.label :publish
    %br
    Check this if you want this project to be live on the site!
    %br
    = f.check_box :publish
  %p
    = f.submit "Save", :class => "success-button"
