= form_for @project, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :client
    %br
    = f.text_field :client
  %p
    = f.label :client_logo_url
    %br
    = f.text_field :client_logo_url
  %p
    = f.label :caption
    %br
    = f.text_field :caption
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    =f.label :image
    %br
    =f.file_field :image
  %p
    =f.label :remote_image_url, "or image URL:"
    %br
    =f.text_field :remote_image_url
  %p
    = f.submit
