- title "Projects"

%h1
  Projects
%h2
  Edit with care.
%table
  %tr
    %th Published?
    %th Title
    %th Client
    %th Caption
    %th Description
    %th Industry
    %th Image
    %th Logo
    %th Show
    %th Edit
    %th Destroy
  - for project in @projects
    %tr
      %td= project.publish ? "Yes!" : "No"
      %td= project.title
      %td= project.client
      %td= project.caption
      %td= project.description
      %td= project.industry.name if project.industry
      %td.image= image_tag project.image_url(:tiny) if project.image?
      %td.image= image_tag project.logo_url(:tiny) if project.logo?
      %td= link_to 'Show', project, :class => "primary-button"
      -if can? :edit, project
        %td= link_to 'Edit', edit_project_path(project), :class => "info-button"
      - if can? :destroy, project
        %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, :class => "danger-button"

-if can? :create, Project
  %p= link_to "New Project", new_project_path, :class => "success-button"