- title "Project"

%h1 @project.title

%p
  %strong Title:
  = @project.title
%p
  %strong Client:
  = @project.client
%p
  %strong Caption:
  = @project.caption
%p
  %strong Description:
  = @project.description
%p
  %strong Image:
  .preview-img
    = image_tag @project.image_url(:thumb) if @project.image?
    #{"None" if !@project.image?}
%p
  %strong Image:
  .preview-img
    = image_tag @project.logo_url(:thumb) if @project.logo?
    #{"None" if !@project.logo?}
%p
  = link_to "Edit", edit_project_path(@project)
  |
  = link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", projects_path
