- title "School"

%h1= @school.name

%p
  %strong Name:
  = @school.name
%p
  %strong Icon:
  %br
  = image_tag @school.icon_url(:thumb) if @school.icon?

%p
  -if can? :edit, @school
    = link_to "Edit", edit_school_path(@school), :class => "info-button"
  -if can? :destroy, @school
    = link_to "Destroy", @school, :confirm => 'Are you sure?', :method => :delete, :class => "danger-button"
  = link_to "View All", schools_path, :class => "primary-button"
