%nav#navbar{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
    .header
      %button.toggle{"data-target" => "#nav-links", "data-toggle" => "collapse", type: "button"}
        / Bars that make up the toggle button icon
        %span
        %span
        %span
        %span
      %a.logo{href: "/"}
        %img{src: s3_static("OnPremLogoOnlySm.png"),alt:"OnPrem Logo Text Only", id: "logopic"}
        %img{src: s3_static("OnPremTextOnly.png"),alt:"OnPrem Logo Text Only", id: "logotext"}
    / Collect the nav links, forms, and other content for toggling
    #nav-links
      %ul.main-links
        = render "layouts/navlinks"
        - if can? :view, :people
          %li.dropdown
            %a.dropdown-toggle{href:"#", data:{toggle:"dropdown"}}
              %i.fa.fa-gear
              Admin 
              %b.caret
            %ul.dropdown-menu
              - if can? :view, :pages
                %li
                  = link_to "Pages", pages_path
              - if can? :view, :people
                %li
                  = link_to "People", people_path
              - if can? :view, :projects
                %li
                  = link_to "Projects", projects_path
              - if can? :view, :schools
                %li
                  = link_to "Schools", schools_path
              - if can? :view, :slides
                %li
                  = link_to "Slides", slides_path
              - if can? :view, :users
                %li
                  = link_to "Users", users_path
              %li
                = link_to "Sign Out", destroy_user_session_path, :method => :delete
