!!!
%html
  %head
    %title OnPrem
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav#navbar{role: "navigation"}
      / Brand and toggle get grouped for better mobile display
      .header
        %button.toggle{"data-target" => "#nav-links", "data-toggle" => "collapse", type: "button"}
          / Bars that make up the toggle button icon
          %span
          %span
          %span
        %a.logo{href: "#"}
          / #logodiv
          = image_tag("OnPremLogoOnly.png", id: "logopic")
          = image_tag("OnPremTextOnly.png", id: "logotext")
      / Collect the nav links, forms, and other content for toggling
      #nav-links
        %ul
          %li.active
            %a{href: "#"} About Us
          %li
            %a{href: "#"} Offerings          
          %li
            %a{href: "#"} Partners          
          %li
            %a{href: "#"} Contact Us
    / #headercontainer
    /   #logodiv
    /     / <img src="images/OnPremLogoOnly.png" id="logopic">
    /     = image_tag("OnPremLogoOnly.png", id: "logopic")
    /     / <img src="images/OnPremTextOnly.png" id="logotext" >
    /     = image_tag("OnPremTextOnly.png", id: "logotext")
    /   #header
    /     #nav
    /       %a#mn_about{href: ""} About Us
    /       %a#mn_offerings{href: ""} Offerings
    /       %a#mn_partners{href: ""} Partners
    /       %a#mn_contact{href: ""} Contact Us
    /   .user-nav
    /     -if user_signed_in?
    /       ="Logged in as #{ current_user.email }"
    /       =link_to 'Edit Profile', edit_user_registration_path
    /       =link_to 'Logout', destroy_user_session_path, method: :delete
    /     -else
    /       / =link_to 'Sign Up', new_user_registration_path
    /       / =link_to 'Login', new_user_session_path
    /       / =link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter)
    /       / =link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook)
    /       =link_to 'Sign in with Google', user_omniauth_authorize_path(:google_oauth2)
    .main
      .flash
        -flash.each do |name, msg|
          =content_tag :div, msg, id: "flash_#{name}"
      = yield
    .footer 