!!!
%html
	%head
		%title
			= h(yield(:title) || "OnPrem")

		= yield(:javascripts)

		%meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}/

		%link{href: "http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700|Oswald:700|Droid+Serif:400,700italic|Rokkitt:700|Coustard:900|Bitter:900|Montserrat:400", rel: "stylesheet", type: "text/css"}/

		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		=render "layouts/navbar"
		- if controller_name != 'pages'
			.main
				= render :partial => "layouts/flash", :locals => {:flash => flash}
				= yield
		- else
			= render :partial => "layouts/flash", :locals => {:flash => flash}
			=yield
	.footer-container
		.footer
			.footer-logo
				= image_tag("OnPrem_Logo_White.png")
			.footer-nav
				= render :partial => "layouts/navlinks"
			%p
			.social
				= render :partial => "layouts/social-icons"
			%p
			.copyright
				%p &copy;2014 OnPrem Solution Partners, LLC

